body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background-color: #f5f5f5; /* latar belakang keseluruhan cerah */
  color: #000;
}

h2 {
  text-align: center;
  background-color: #2f2f2f; /* kotak kelabu gelap */
  color: #fff;               /* teks putih */
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

.required {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

fieldset {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 10px;
}

legend {
  font-weight: bold;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.submit-btn {
  background-color: orange;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.clear-btn {
  background-color: gray;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}